.Get_All_Cryptos_Error_Message{
    font-weight: 600;
    padding: .5rem .8rem;
    text-align:center;
    background-color:red;
    border-radius:10px;
    margin-bottom:2rem;
    animation: scaleAnimationFromTopLeftCorner1 1s ease-out 0s infinite alternate;
    transform-origin: center;    
}

.Get_All_Cryptos_Table_Main_Headers{
  color:white;
  background-color:black
}

.Get_All_Cryptos_Table_Sub_Headers{
  color:white;
  background-color:black
}

.Get_All_Cryptos_Table_Rows:hover{
  background-color: rgba(200, 200, 200, .7);
  cursor: pointer;
}

.Get_All_Cryptos_Table_Border_Radius_Style1{
  border-top-left-radius:5px;
  border-bottom-left-radius: 5px
}
.Get_All_Cryptos_Table_Border_Radius_Style2{
  border-top-right-radius:5px;
  border-bottom-right-radius: 5px
}

.Get_All_Cryptos_Table_Font_Weight_600 p{
  font-weight: 600;
}

.Get_All_Cryptos_Table_Header_Font_Size{
  font-size: small;
}

.Get_All_Cryptos_Table_Row_Font_Size p, .Get_All_Cryptos_Table_Row_Font_Size span{
  font-size: smaller;
}

@keyframes scaleAnimationFromTopLeftCorner1 {
    0% {
      transform: scaleY(1);
      transform: scaleX(1);
    }
    100% {
      transform: scaleY(1.1);
      transform: scaleX(1.02);
    }
  }
@media only screen and (max-width: 1200px) {
    .Get_All_Cryptos_Table_Header_Font_Size{
        font-size: smaller;
    }
    .Get_All_Cryptos_Table_Row_Font_Size p{
      font-size: x-small;
    }
  }
  