.Header_Cancel_Icon_Style{
    position: absolute;
    right: 5%;
    bottom: 25%;
    font-size: 1.8rem;
    cursor: pointer;
    transition: .3s ease-out all;
}
.Header_Cancel_Icon_Style:hover{
    transform: scale(1.1);
}